.flex {
    display: flex;
}

.between {
    justify-content: space-between;
}

.around {
    justify-content: space-around;
}

.center {
    justify-content: center;
}

.start {
    justify-content: flex-start;
}

.end {
    justify-content: flex-end;
}

.column {
    flex-direction: column;
}

.align-center {
    align-items: center;
}

.align-end {
    align-items: flex-end;
}

.center-text {
    text-align: center;
}