body {
    font-family: 'Raleway', sans-serif !important;
    display: flex !important;
    min-height: 100vh !important;
}

.menu {
    top: -20px;
    left: 0px;
    right: 0px;
    padding: 20px;
    position: absolute;
    display: flex;
    justify-content: flex-end;
}

.menu a {
    position: relative;
    color: rgb(131, 128, 128);
    font-size: 20px;
    text-decoration: none;
    padding: 30px;
}

.menu a:hover {
    font-weight: bold;
}

.line {
    position: relative;
    top: 0px;
}

h2 {
    color: grey;
}

.img {
    width: 550px;
    height: 350px;
    object-fit: cover;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
}

.img-icon {
    height: 65px;
    width: 65px;
    margin-right: 35px;
    object-fit: cover;
    margin-left: 25px;
}

.img-icon-recepylist {
    height: 50px;
    width: 50px;
    margin-left: 15px;
    object-fit: cover;
}

.img-logo {
    object-fit: cover;
    width: 70px;
    height: 75px;
}

.category {
    padding-bottom: 40px;
    padding-left: 20px;
}

.recepy-overview {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 15vh;
    margin-bottom: 5vh;
}

.addRecepy-List {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding: 30px;
}

footer a:hover {
    text-decoration: underline;
    color: rgb(126, 126, 126);
}

.recepy {
    padding-left: 10px;
    background-color: rgba(224, 205, 116, 0.192);
    width: 550px;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
}

.recepy-child {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.recepy-flexbox {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

h3 {
    padding-bottom: 10px;
    text-align: center;
}

h6 {
    color: white;
    background-color: rgba(74, 184, 30, 0.74);
    width: 45%;
    text-align: center;
    display: table;
    margin: auto;
}

button {
    position: relative;
    margin-bottom: 10px !important;
    left: 160px;
    width: 200px;
}

p {
    color: rgba(74, 184, 30, 0.74);
    padding-right: 30px;
    font-size: 20px;
}

.img-recepylist {
    object-fit: cover;
    height: 50vh;
    width: 50vw;
    display: table-row;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
}

.recepy-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.recepylist-child {
    display: flex;
    justify-content: space-between;
}

.p-recepylist {
    background-color: rgba(224, 205, 116, 0.192);
}

<<<<<<< HEAD
=======
.h1-recepylist {
    color: black;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 50px;
}

>>>>>>> 3a15e13851e6b63667476d22ada0a3087d7c31e8
.h3-recepylist {
    font-size: 30px;
}

.p-number-ingridient1 {
    color: black;
    padding-left: 40px;
    font-size: 25px;
}

.p-number-ingridient2 {
    padding-left: 0px;
    color: black;
    font-size: 25px;
}

.div-number-ingridient {
    display: flex;
<<<<<<< HEAD
    align-items: center;
    justify-content: center;
=======
    padding-left: 90px;
    text-align: center;
>>>>>>> 3a15e13851e6b63667476d22ada0a3087d7c31e8
}

.btn-recepylist {
    width: 75px;
    left: 0px;
    top: 5px;
}

.div-ingridient {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    align-items: center;
    width: 48vw;
}

.span-white {
    background-color: rgba(235, 232, 232, 0.699);
    height: 40px;
    border-radius: 5px;
    text-align: center;
    padding-top: 5px;
    width: 80%;
}

.span-grey {
    background-color: rgba(190, 188, 188, 0.527);
    height: 40px;
    border-radius: 5px;
    text-align: center;
    padding-top: 5px;
    width: 80%;
}

.div-preparation {
    max-width: 50%;
}

.p-preperation {
    color: black;
    font-size: 20px;
    padding-left: 70px;
}

<<<<<<< HEAD
=======
.div-createrecepy {
    padding-top: 20px;
    padding-bottom: 40px;
}

>>>>>>> 3a15e13851e6b63667476d22ada0a3087d7c31e8
.img-profile {
    width: 225px;
    height: 150px;
    object-fit: contain;
}

.number_portion {
    color: black;
    font-size: 27px;
}

<<<<<<< HEAD
@media(max-width:980px) {
    .recepy-overview {
        margin-top: 15vh;
    }
    h1 {
        display: none;
    }
    h3 {
        font-size: 3em;
    }
    h6 {
        border-radius: 10px;
        margin-left: 0;
        font-size: 3em;
        width: 100%;
        padding: 12px;
    }
    p {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 35px;
    }
    .recepy-flexbox {
        justify-content: center;
    }
    .recepy {
        background-color: rgba(224, 205, 116, 0.192);
        width: 80%;
        height: 75vh;
        margin-bottom: 7vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .img {
        width: 100%;
        height: 50%;
        object-fit: cover;
        padding-top: 5vh;
        padding-right: 5vh;
        padding-bottom: 5vh;
        padding-left: 5vh;
    }
    .img-icon {
        display: flex;
        align-items: center;
        height: 5vh;
        margin-right: 10vw;
        margin-left: 5vw;
        object-fit: contain;
=======
h1 {
    padding-top: 140px;
    text-align: center;
}

.h6-category {
    text-align: center;
}

.div-number-ingridient-child {


    display: flex;
    flex-direction: column;
    
}




@media(max-width:600px) {
    .recepy, .img {
        width: 100%;
        display: table;
>>>>>>> 3a15e13851e6b63667476d22ada0a3087d7c31e8
    }
    .recepy-child {
        display: flex;
        align-items: center;
    }
<<<<<<< HEAD
    button {
        position: revert !important;
        width: 50vw;
=======
    .btn-center {
        display: block;
        text-align: center;
>>>>>>> 3a15e13851e6b63667476d22ada0a3087d7c31e8
    }
    .btn {
        font-size: 3em;
    }
    .h1-recepylist {
        display: flex !important;
        justify-content: center;
        align-items: center;
        margin-top: 2vh;
    }
<<<<<<< HEAD
    .img-recepylist {
        height: 21vh;
    }
    .div-preparation {
        max-width: 100%;
=======
    button {
        width: 150px;
        left: inherit;
    }
    .div-number-ingridient {
        padding-left: inherit;
        margin: auto;
        width: 50%;
    }
    .h3-creatorrecepy {
        padding-left: 10px;
    }
    .img-profile {
        padding-left: 0px;
        margin-left: 50px;
        margin-right: 30px;
        height: 120px;
        width: 120px;
        object-fit: cover;
        border: 20px black;
    }
    .recepylist-child {
        display: inherit;
        padding-left: 35px;
        padding-right: 20px;
    }
    .p-recepylist {
        width: 95%;
        text-align: center;
    }
    .p-number-ingridient1 {
        padding-left: inherit;
        text-align: center;
>>>>>>> 3a15e13851e6b63667476d22ada0a3087d7c31e8
    }
}