html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navigation-bar {
    display: flex;
    justify-content: space-around;
    padding: 8px;
}

.navigation-menu {
    display: flex;
    align-items: center;
}

.navigation-menu a {
    color: grey;
    text-decoration: none;
    font-size: 18px;
    transition: all 225ms ease-in-out;
    border-bottom: 4px solid transparent;
}

.navigation-menu a:hover {
    color: rgb(57, 146, 43);
    transition: all 225ms ease-in-out;
    border-bottom: 4px solid rgb(57, 146, 43);
    font-weight: bold;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(64, 59, 59);
    color: white;
    font-size: 18px;
}

.social-media-icon {
    width: 20%;
}

.text-center {
    text-align: center;
    flex-direction: column;
    margin-right: 32px;
}

.data-protection {
    display: flex;
    flex-direction: column;
    margin-left: 32px;
    margin-right: 32px;
    flex-grow: 1;
}
